:root {
  --step2-loading-size: 14px;
  --step2-loading-line-size: 1.5px;
}

.stepOneWrap {
  /*  */
}

.stepOneItemLabel {
  position: relative;
  height: 14px;
  margin: calc(var(--common-padding) * 2) var(--common-padding) 0;
  color: var(--flow-page-main-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  text-indent: 10px;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 14px;
    background-color: var(--flow-page-main-color);
    border-radius: 2px;
  }
}

.stepOneItemValue {
  color: var(--flow-page-main-color);
}

.stepOnePayBtnWrap {
  position: relative;
  padding: var(--common-padding);
}

.stepOnePayBtn {
  width: 100%;
}

/*  */

.stepTwoWrap :global {
  width: 100%;
  height: 100%;
  padding: var(--common-padding);
  background-color: #fff;

  .next-message {
    display: flex;
    align-items: center;
  }
  .next-message-content {
    padding: 0 6px 0 6px !important;
    line-height: 20px !important;
  }
}

.stepTwoSecondWrap {
  width: 80%;
  margin: 0 auto;
}

.stepTwoTip {
  font-size: 14px;
  line-height: 24px;
}

.stepTwoTipTitle {
  height: 24px;
  margin-top: var(--common-padding);

  font-weight: 500;
  text-align: center;
}

.stepTwoTipContent {
  margin-top: var(--common-padding);
  color: #555;
}

.stepTwoTipNote {
  margin-top: var(--common-padding);
  color: #666;
  font-size: 13px;
  line-height: 18px;
}

.stepTwoTipNoteBold {
  color: red;
  font-weight: 500;
}

.stepTwoMode :global {
  margin: var(--common-padding) auto 0;
  padding-top: var(--common-padding);
  /*  */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eee;

  .next-radio-button {
    label {
      .next-radio-label {
        color: #aaa;
      }
    }
  }

  .next-radio-button.nrb-tronlink {
    label {
      &.checked {
        border-color: var(--tronlink-color);
        .next-radio-label {
          color: var(--tronlink-color);
        }
      }
    }
  }

  .next-radio-button.nrb-imToken {
    label {
      &.checked {
        border-color: var(--imToken-color);
        .next-radio-label {
          color: var(--imToken-color);
        }
      }
    }
  }
}

.stepTwoModeLabelFlag {
  color: red;
  margin-right: 4px;
}

.stepTwoModeLabel {
  color: #555;
}

.stepTwoModeNote {
  margin-top: var(--common-padding);
  font-size: 13px;
  color: #555;
}

.stepTwoBottom {
  display: flex;
  position: absolute;
  flex-direction: column;
  gap: calc(var(--common-padding) / 1.2);
  width: calc(100% - var(--common-padding) * 2);
  bottom: calc(60px + env(safe-area-inset-bottom));
}

.stepTwoBtnLoadingCircle {
  position: relative;
  display: inline-block;
  width: var(--step2-loading-size);
  height: var(--step2-loading-size);
  margin-left: 6px;
  /* background-color */
  border-radius: 50%;

  animation: ani_step_two_btn_loading 1s linear infinite;
}

.stepTwoBtnLoadingCircleInner1 {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  background-color: transparent;
  border: calc(var(--step2-loading-size) / 2) solid transparent;
  /* border-top-color */
  border-radius: 50%;
}

.stepTwoBtnLoadingCircleInner2 {
  position: absolute;
  width: calc(var(--step2-loading-size) - var(--step2-loading-line-size) * 2);
  height: calc(var(--step2-loading-size) - var(--step2-loading-line-size) * 2);
  top: var(--step2-loading-line-size);
  left: var(--step2-loading-line-size);
  /* background-color */
  border-radius: 50%;
}

@keyframes ani_step_two_btn_loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
