.pageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.pageTop {
  flex-direction: column;
  margin-bottom: 0;
}

.topHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.topHeaderIcon {
  color: #1dc11d;
}

.topHeaderText {
  font-size: 16px;
  font-weight: 500;
}

.topOrderInfo {
  padding-left: 32px;
  font-size: 14px;
  line-height: 22px;
}

.topDesc {
  margin-top: calc(var(--common-padding) / 2);
  padding-left: 32px;
  font-size: 12px;
  line-height: 18px;
  color: #f00;
  font-weight: 500;
}

.pagePayWays {
  margin-bottom: calc(var(--common-padding) * 1.5);
}

.payWayList {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: var(--common-padding);
}

.payWayItem {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: var(--common-padding);
}

.payWayItemDivider {
  width: 100%;
  height: 1px;
  background-color: var(--common-line-color);
}

.payWayIcon {
  width: 60px;
  height: 60px;
  border-radius: 14px;
  box-shadow: var(--common-block-box-shadow);
}

.payWayItemRight {
  display: flex;
  flex-direction: column;
  gap: calc(var(--common-padding) / 2);
}

.payWayItemRightText {
  font-size: 15px;
  line-height: 24px;
}

.payWayItemRightDesc {
  font-size: 14px;
  line-height: 28px;
  color: #999;
}
