:root {
  --index-page-header-height: 60px;
  --index-page-header-logo-icon-size: 40px;
  --index-page-header-logo-size: 24px;
  --index-page-middle-static-height: 300px;
}

.pageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  overflow: auto;
}

.pageHeader {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 100%;
  flex: none;
  height: var(--index-page-header-height);
  padding: 0 var(--common-padding);
  background-color: var(--common-major-color);
}
.pageHeaderLogoIcon {
  position: relative;
  display: inline-block;
  width: auto;
  height: var(--index-page-header-logo-icon-size);
}
.pageHeaderLogo {
  width: var(--index-page-header-logo-size);
  height: var(--index-page-header-logo-size);
  background-color: #ddd;
  border-radius: 8px;
}
.pageHeaderText {
  color: #409eff;
  font-size: 16px;
  font-weight: 500;
}

.pageMiddleStatic {
  position: relative;
  display: flex;
  width: 100%;
  /* height: var(--index-page-middle-static-height); */
  /* min-height: 320px; */
  aspect-ratio: 5 / 2;
  /* flex-grow: 1; */
  height: 1px;
  height: auto;
  background-color: #ddd;
}

.pageMiddleImg {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}

.pageBottomBiz {
  /*  */
}
