.formComp {
  width: calc(100% - var(--common-padding) * 2);
  margin: 0 var(--common-padding);
  padding-top: var(--common-padding);
}

.formCompBottomItem {
  width: 100%;
  max-width: 100%;
  margin-top: 18px;
  &:global > .next-col {
    width: 100%;
    max-width: 100%;
    flex: 1;
  }
}
